@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&family=Raleway:wght@200;500&family=Roboto:wght@100&display=swap');

*{
  font-family: 'Raleway',sans-serif;
  box-sizing: border-box;
}

.bg-blue{
  background-color: #344d67;
}

nav h1,a{
  color: #6eccaf!important;
}

header{
  padding: 20px;
}

.nav-item{
  width: fit-content;
}

body{
  background-image: url(../public/Assets/fondoHome.jpeg);
  background-size: cover;
  background-attachment: fixed;
}


.form-switch{
  background-color: #344d67;
  color: #6eccaf;
  border-radius: 8px;
}

.form-switch .form-check-input {
  background-color: #b1f0dc;
  background-image: url(../public/Assets/circle.svg)
}

.form-switch .form-check-input:checked{
  background-color: #223142;
}

ul{
  margin-top: 0;
}

.btn-active{
  background-color: #6eccaf;
  color: #344d67!important;
}

.botones{
  background-color: #344d67!important;
}

.botones:hover,.btn-active:hover{
  background-color: #6eccaf!important;
  color: #344d67!important;
}


.navbar-brand {
  padding: 40px 80px;
}

.size-name{
  width: 300px;
}

img,svg{
  vertical-align: middle;
}

h1,h2,p{
  color: #344d67;
}

.name-card {
  color: #6eccaf;
}

.main-contact-div {
  background-color: rgba(92,117,146,.9);
}

.colorBLue {
  color: #223142!important;
}

textarea{
  height: 300px;
}

.colorW{
  color: #f5f5f5!important;
}

@media (max-width: 500px){
.tarjeta {
    flex-direction: column!important;
}}

.list-group {
  width: 350px!important;
}

.list-group-item {
  background-color: initial!important;
  color: #f5f5f5!important;
  font-size: 1.2rem;
  border: var(--bs-list-group-border-width) solid rgba(0, 0, 0, 0.125);
}

.fila:hover{
  background-color: #6eccaf!important;
  color: #344d67!important;
  cursor: pointer;
}

.collapse:not(.show){
  display: flex;
}


.filters-area {
    justify-content: start;
}

.btn-filters {
    display: none;
}


@media (max-width: 800px){
.btn-filters {
    display: block;
}}

@media (max-width: 800px){
.filters-area>h2 {
    text-align: center;
}}

@media (max-width: 800px){
h2{
    color: #6eccaf!important;
}}

@media (max-width: 800px){
.filters {
    flex-direction: column;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}}

@media (max-width: 800px){
.filters-area {
    background-color: #344d67;
    border-radius: 8px;
    justify-content: space-around;
    padding: 15px;
    width: 90%;
}}

@media (max-width: 500px){
.card {
    flex-direction: column!important;
}}

@media (max-width: 800px){
.section-filters {
    align-items: center;
    flex-direction: column;
}}

@media (max-width: 800px){
.collapse:not(.show) {
    display: none;
}}


@media (max-width: 800px){
.more-info-section {
    padding: 1rem!important;
}}